html{
	background-color:yellow;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
}
body{
	font-size:30px;
}

table{
	width:80vw;
	table-layout:fixed;
}
table,tr,td{
	padding:5px;
	border:3px solid black;
	border-collapse:collapse;
	text-align:center;
}
#current{
	float:right;
	font-size:7vw;
	color:red;
	font-weight:bold;
	background-color:#00FF00;
}
#roller{
	float:right;
	font-size:2vw;
	color:blue;
	background-color:orange;
}